@font-face {
    font-family: 'Futura bold';
    src: url(font/FuturaPT-ExtraBold.ttf);
}

@font-face {
    font-family: 'Futura';
    src: url(font/FuturaPT-Book.ttf);
}

@font-face {
    font-family: 'Futura heavy';
    src: url(font/FuturaPT-Heavy.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 80px;
    margin: 0 auto;

    @media (max-width:700px) {
        padding: 0 20px;
    }

    @media (max-width:320px) {
        padding: 0 10px;
    }


    &__head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 13px;


        &-title {
            font-family: 'Futura bold';
            font-size: 48px;
            color: #A89365;

            @media (max-width: 1280px) {
                font-size: 32px;
            }

            @media (max-width:320px) {
                font-size: 24px;
            }

        }

        &-link {
            font-family: 'Futura';
            font-size: 18px;
            color: #A89365;
            text-decoration: none;
            line-height: 60px;

            @media (max-width:700px) {
                line-height: 40px;
            }


            img {
                margin-left: 10px;
            }
        }
    }

    &__slider {
        position: relative;
        margin-top: 40px;

        @media (max-width:320px) {
            margin-top: 20px;
        }

        .sprite-prev {
            position: absolute;
            top: 32%;
            height: 32px;
            width: 16px;
            left: -32px;
            background: url('img/left.svg') 0 0 /100% no-repeat;

            @media (max-width:1280px) {
                height: 16px;
                width: 8px;
                left: -16px;
            }
        }

        .sprite-next {
            position: absolute;
            top: 32%;
            height: 32px;
            width: 16px;
            right: -32px;
            background: url('img/right.svg') 0 0 /100% no-repeat;

            @media (max-width:1280px) {
                height: 16px;
                width: 8px;
                right: -16px;
            }
        }

        .slick-dots {
            list-style-type: none;

            button {
                background: #f2f2f2;
                border-radius: 50%;
                height: 12px;
                width: 12px;
                outline: none;
            }

            li[class="slick-active"] button {
                background: #A89365;
            }

            li button::before {
                font-size: 0;
            }
        }



        &-card {
            max-width: 410px;
            padding: 0 15px;

            img {
                max-width: 100%;
                margin-bottom: 20px;

                @media (max-width:320px) {
                    margin-bottom: 10px;
                }
            }

            h3 {
                font-family: 'Futura heavy';
                font-size: 32px;
                color: #A89365;
                margin-bottom: 20px;
                line-height: 32px;

                @media (max-width: 1280px) {
                    font-size: 16px;
                    line-height: 24px;
                }

                @media (max-width:320px) {
                    margin-bottom: 10px;
                }

            }

            p {
                font-family: 'Futura';
                font-size: 20px;
                color: #575757;
                line-height: 30px;

                @media (max-width: 1280px) {
                    font-size: 16px;
                    line-height: 24px;
                }

            }
        }
    }

    &__btn {
        margin-top: 40px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;

        @media (max-width: 900px) {
            flex-wrap: wrap;
        }

        &-btn {
            width: 360px;
            height: 60px;
            padding: 12px 40px;
            border: 1px solid #A89365;
            background-color: #fff;
            color: #A89365;
            font-family: 'Futura';
            font-size: 18px;
            outline: none;

            &:last-child {
                margin-left: 40px;

                @media (max-width: 900px) {
                    margin: 20px 0;
                }
            }

            &:hover {
                background-color: #A89365;
                color: #fff;
            }

            @media (max-width: 900px) {
                width: 560px;
            }

            @media (max-width: 400px) {
                padding: 12px 0;
            }

        }
    }
}